
.heroCover {
  background-image: url('../../../assets/top-view-cup-coffee-anises-cookies-spoon-wood-board-coffee-beans-bowl-dark-surface.jpg'); 
  background-size: cover;
  background-position: center;
  height: 88svh; /*vindow coverage*/
  display: flex;
  align-items: center;
  padding: 0 8%;
}

/* opacity layer */
.heroCover::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.05);
}

.heroLeftSpace {
  display: flex;
  flex-grow: 1;
  min-width: 200px;
}

.heroLeftSpace img {
  width: 90%;
  max-width: 300px;
}


.heroContent {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 0, 0, 0.2); */
  padding: 20px;
  text-align: center;
  border-radius: 45px;
  max-width: 600px; /*for larger texts*/
  align-items: center;
}
.heroContent h1 {
  font-size: 48px;
  margin: 0 0 20px;
}

.heroContent p {
  font-size: 18px;
  margin: 0 0 20px;
}

/* .heroContent button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
} */



@media screen and (max-width: 780px){
 
  .heroCover {
    flex-direction: column;
    /* padding-top: 15%; */
    padding: 16% 8% 4% 8%;
  }

  .heroLeftSpace {
    flex-grow: 0;
  }

  .heroLeftSpace img {
    width: auto;
    max-width: 250px;
    height: max-content;
  }

}